<div class="campaign-section">
	<div class="campaign-section__container">
		<div class="campaign-section__title">Courses For Your Business</div>
		<div class="campaign-section__summary">The Growth Company offers a wide range of courses for business. So whether you’re looking for professional development programmes, regulatory training or training on virtually aspect of business — we can help.</div>
		<a href="#" class="campaign-section__button">Know more about this</a>
	</div>
</div>


