<div data-ng-controller="CampaignSection.Controller" class="umb-pane">
	<div id="campaignSection">
		<div class="umb-box">
			<div class="umb-box-header">
				<div class="umb-box-header-title umb-row-title-bar">
					<div class="umb-control-title">{{control.value.title}}</div>
				</div>
			</div>
			<div class="block-form umb-box-content" ng-if="control.active">
				<div class="umb-property">
					<div class="control-group umb-control-group">
						<div class="umb-el-wrap">
							<label class="control-label">
								<span>Title</span>
							</label>
							<div class="controls controls-row">
								<input type="text" class="input-block-level" ng-model="control.value.title" required/>
							</div>
						</div>
					</div>
				</div>

				<div class="umb-property">
					<div class="control-group umb-control-group">
						<div class="umb-el-wrap">
							<label class="control-label">
								<span>Summary</span>
							</label>
							<div class="controls controls-row">
								<textarea class="input-block-level" ng-model="control.value.summary" required rows="3"></textarea>
							</div>
						</div>
					</div>
				</div>

				<div class="umb-property">
					<div class="control-group umb-control-group">
						<div class="umb-el-wrap">
							<label class="control-label">
								<span>Image</span>
							</label>
							<div class="controls controls-row">
								<div class="umb-editor umb-mediapicker">
									<a ng-if="!control.value.image" class="add-link add-link-square" ng-click="addImage()">
										<i class="icon icon-add large"></i>
									</a>
									<ul class="umb-sortable-thumbnails" ng-if="control.value.image">
										<li>
											<img title="Image" src="{{control.value.image}}?width=136">
											<div class="umb-sortable-thumbnails__actions" data-element="sortable-thumbnail-actions">
												<a class="umb-sortable-thumbnails__action -red" data-element="action-remove" ng-click="removeImage()">
													<i class="icon icon-delete"></i>
												</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="umb-property">
					<div class="control-group umb-control-group">
						<div class="umb-el-wrap">
							<label class="control-label">
								<span>Link</span>
							</label>
							<div class="controls controls-row">
								<div class="gibe-link-picker">
									<p class="chosen" ng-show="control.value.link">
										<a href="{{control.value.link.url}}" target="_blank">{{control.value.link.name || control.value.link.url}}</a>
										<a class="remove" href="" ng-click="removeLink()"><i class="icon icon-delete"></i></a>
										<a class="edit" href="" ng-click="editLink(control.value)"><i class="icon icon-edit"></i></a>
									</p>
									<p class="internal-picker" ng-hide="control.value.link">
										<a class="link" href="" ng-click="chooseLink()">Choose</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<umb-overlay ng-if="mediaPickerOverlay.show"
	             model="mediaPickerOverlay"
	             view="mediaPickerOverlay.view"
	             position="right">
	</umb-overlay>
</div>
